@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&");

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#navs {
  transition: all 0.3s ease 0s;
}

#navs:hover {
  cursor: pointer;
  font-size: 20px;
  color: #d31b7a;
}

header {
  border-top: 2px solid #d31b7a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  overflow: auto;
  min-height: 10em;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
  color: #d31b7a;
}

button {
  color: white;
  margin-left: 7%;
  padding: 9px 25px;
  background-color: #d31b7a;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

button:hover {
  color: #d31b7a;
  background-color: whitesmoke;
  border: 2px solid #d31b7a;
}
