footer {
  background-color: white; /*#61dafb */
  color: white;
}

.footer-copyright {
  color: #0c4b33;
}

a {
  text-decoration: none;
}

.badge {
  position: absolute;
  left: 5%;
  width: 124px;
  height: auto;
}
