footer {
  background-color: black; /* #61dafb */
  color: white;
  border-top: 2px #d31b7a solid;
}

.footer-copyright {
  color: white;
}

a {
  text-decoration: none;
}

.badge {
  position: absolute;
  left: 5%;
  width: 124px;
  height: auto;
}
