#app {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.loading-screen {
  width: 83%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
