.aboutContent {
  text-align: left;
}

strong {
  color: #d31b7a;
}

a {
  text-decoration: none;
}

.resumeButton {
  margin-top: 3%;
  position: relative;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px 20px;
  background-color: #d31b7a;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.resumeButton:hover {
  color: #d31b7a;
  background-color: whitesmoke;
  border: 2px solid #d31b7a;
}
